<% include ('../../helpers/functions.ejs') %>
<% mangaCoverClass = locals.large ? 'manga-cover-large' : '' %>
<% mangaMarginLarge = locals.large ? 'manga-margin-large' : '' %>

    <% mangas.forEach(manga => { %>
        <div class="manga-container <%= mangaMarginLarge %>">
            <div class="manga-image">
                <a href="/mangas/<%= manga.id %>">
                    <img  class="manga-cover <%= mangaCoverClass %>" src="<%=manga.mangaImagePath%>">
                </a>
            </div>
            <div class="manga-info">
                <div class="manga-info-title">
                    <a href="/mangas/<%=manga._id %>"><%= getMangaName(manga.title,40)%></a>
                </div>
            </div>
        </div>      
<% }) %>
