<div>
    <img class="manga-cover" src="<%=manga.mangaImagePath%>">
</div>
    <div>
        <h2>Title: <%= manga.title%></h2>
    </div>
    <div>
        <h2>Alternative Titles: <%= manga.alternTitle%></h2>
    </div>
    <div class="">
        <%- include('../partials/deleteForm',{url: `/mangas/${manga.id}`})%>
    </div>
    <div>
        <h2><%= manga.desc%></h2>
    </div>

    <div>
        <h2 style="display: inline-block;">Chapters:</h2>
        <a href="/mangas/<%= manga._id %>/add">Add Chapter</a>
    </div>
<% mangaChapters.forEach(chapter => { %>
    <div>
        <h2><a href="/mangas/<%=manga._id%>/<%=chapter.title%>"><%=`Chapter: ${chapter.chapNumber}`%></a></h2>
    </div>
 <%})%>
